.hour-slot {
    height: 50px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2px 10px;
    cursor: pointer;
    .name {
        font-size: 16px;
        font-weight: bold;
    }
    .phone {
        font-size: 14px;
    }
    &.hour-legend {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        border-top: 1px solid rgba(0,0,0,0.1);
        &:hover {
            box-shadow: none;
        }
    }
    &:hover {
        border: none;
        box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.5);
    }
}

